:root {
  --body-child-height: 20px;
  --header-max-height: 75px;
  --header-h1-size: 1.5rem;
  --header-span-size: 1.8rem;
  --header-padding: 0.95rem;
  --header-p-size: 0.8rem;
  --medium-gap: 10px;
  --small-gap: 5px;
  --button-small: 10px;
  --button-large: 20px;
  --section-padding: 5px;
  --section-font-small: 0.95rem;
  --section-font-medium: 1rem;
  --section-font-large: 1.2rem;
  --main-padding: 10px;
  --item-template-columns: 19% 19% 19% 15% 15%;
  --header-template-columns: 19% 19% 19% 29%;
  --update-width: 100%;
  font-size: 14px;
}

* {
  margin: 0;
  /* padding: 0; */
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: var(--medium-gap);
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, #505081 10%, transparent 10%);
  background-size: 10px 10px;
}

body > * {
  /* border: 1px solid red; */
  /* height: 100%; */
}

h1,
h2 {
  /* padding: 0; */
  margin: 0;
}

header {
  text-align: center;
  border-bottom: 2px solid #2b3374;
  border-radius: 0 0 10px 10px;
  width: 100%;
  max-height: var(--header-max-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--header-padding);
  background-color: #272757;
  color: #ebebeb;
}

header h1 span {
  color: #59b5f7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--header-span-size);
}

header h1 {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
  font-size: var(--header-h1-size);
}

header p {
  max-width: 60%;
  line-height: 90%;
  font-size: var(--header-p-size);
}

main {
  flex: 1;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

button {
  background-color: #272757;
  padding: 5px;
  color: #ebebeb;
  border-radius: 15px;
  border: 1px solid #2f2f2f;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #59b5f7;
  cursor: pointer;
  color: #2f2f2f;
  border-radius: 25px;
}

section {
  padding: var(--section-padding);
  width: 100%;
  /* max-height: 100%; */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f3f4fd;
}

.section-title {
  border-radius: 15px;
  background-color: #8686ac91;
  padding: var(--main-padding);
}

section h2 {
  font-size: var(--section-font-large);
  color: #0f0e47;
}

#expense-form form {
  display: flex;
  flex-direction: column;
  padding: 0 var(--main-padding);
  gap: var(--small-gap);
}

.input-row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 32%);
  gap: var(--small-gap);
  justify-content: space-between;
  padding: calc(0.5 * var(--main-padding));
}

.input-column {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.input-column label {
  padding-left: calc(0.2 * var(--main-padding));
  font-weight: 550;
  font-size: var(--section-font-medium);
}

input,
input::placeholder {
  font-size: calc(0.9 * var(--section-font-medium));
}

input {
  height: calc(1.45 * var(--section-font-large));
  border: 1px solid #272757;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  padding: 0 calc(0.5 * var(--main-padding));
}

input:hover {
  background-color: #efefef;
}

input:hover::placeholder {
  color: #272757;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: var(--small-gap);
  margin-bottom: calc(0.5 * var(--main-padding));
}

.button-row button {
  height: calc(1.75 * var(--section-font-large));
  width: 100px;
  font-size: calc(0.9 * var(--section-font-medium));
}

ul {
  position: relative;
  padding: 0 calc(0.5 * var(--main-padding));
  display: flex;
  flex-direction: column;
}

ul,
li {
  list-style-type: none;
}

.expense-item {
  font-size: var(--section-font-small);
  border-radius: 15px;
  background-color: #ededff91;
  padding: 0 calc(0.5 * var(--main-padding));
  height: calc(1.75 * var(--section-font-large));
  display: grid;
  grid-template-columns: var(--item-template-columns);
  justify-content: space-between;
  align-items: center;
  margin: calc(0.5 * var(--main-padding)) 0;
}

#expense-list span {
  display: flex;
  align-items: center;
}

.no-data {
  font-size: calc(0.9 * var(--section-font-medium));
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#expense-list button {
  height: calc(1.65 * var(--section-font-large));
  font-size: calc(0.85 * var(--section-font-small));
  width: 100%;
  border-radius: 15px;
}

footer {
  margin-top: auto;
  display: flex;
  font-size: calc(0.85 * var(--section-font-small));
  height: calc(1.85 * var(--section-font-large));
  /* padding: 10px; */
  justify-content: center;
  align-items: center;
  gap: var(--medium-gap);
}

footer span {
  font-weight: bold;
}

.update-entry {
  font-size: var(--section-font-small);
  z-index: 1;
  display: flex;
  gap: var(--small-gap);
  top: 2%;
  right: 1.25%;
  background-color: #f3f4fd;
  border-radius: 10px;
  width: var(--update-width);
  padding: calc(0.5 * var(--main-padding));
  flex-direction: column;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 5px rgba(98, 127, 137, 0.508);
}

.update-entry .button-row {
  margin: calc(0.5 * var(--main-padding));
  margin-top: calc(0.85 * var(--main-padding));
}

.update-entry input,
.update-entry label {
  margin: 0 calc(0.5 * var(--main-padding));
}

.update-entry h3 {
  font-size: var(--section-font-medium);
  margin: 0;
  color: #0f0e47;
}

.update-entry button {
  border-radius: 15px;
  width: 75px;
}

.per-category {
  font-size: var(--section-font-small);
  border-radius: 15px;
  background-color: #ededff91;
  padding: 0 calc(0.5 * var(--main-padding));
  height: calc(1.75 * var(--section-font-large));
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: calc(0.5 * var(--main-padding)) 0;
}

.header-row {
  border-radius: 15px;
  background-color: #ededff91;
  padding: 0 calc(0.5 * var(--main-padding));
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: calc(0.5 * var(--main-padding)) 0;
}

.log {
  display: grid;
  grid-template-columns: var(--header-template-columns);
}

.summary {
  display: flex;
  /* padding: 0 20px; */
}

.header-row span {
  font-size: var(--section-font-medium);
  font-weight: 600;
  display: flex;
  align-items: center;
}

.total {
  font-size: calc(0.85 * var(--section-font-large));
  font-weight: 600;
}

.hidden {
  display: none;
}

/* Tablets (768px and above) */
@media (min-width: 768px) {
  :root {
    --item-template-columns: 23% 23% 23% 13% 13%;
    --header-template-columns: 23% 23% 23% 25%;
    --update-width: 50%;
    font-size: 15px;
  }
}

/* Laptops (1024px and above) */
@media (min-width: 1024px) {
  :root {
    --main-padding: 15px;
    --item-template-columns: 23% 23% 23% 13% 13%;
    --header-template-columns: 23% 23% 23% 25%;
    --update-width: 50%;
    font-size: 16px;
  }
  main {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto auto;
    justify-content: space-around;
    align-content: start;
  }
  #expense-form {
    grid-column: 1;
    grid-row: 1;
    max-height: 200px;
  }
  #expense-list {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  #expense-summary {
    grid-column: 1;
    grid-row: 2;
  }

  #summary,
  #log {
    border: 1px solid;
    overflow: auto;
  }

  #summary {
    max-height: 200px;
  }

  #log {
    max-height: 420px;
  }
}

/* Desktops (1280px and above) */
@media (min-width: 1280px) {
}
