* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle, #505081 10%, transparent 10%);
  background-size: 10px 10px;
}

body > * {
  height: 100%;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

header h1,
header p {
  margin: 10px 0;
  line-height: 90%;
}

header {
  text-align: center;
  border-bottom: 1px solid black;
  border-radius: 0 0 10px 10px;
  width: 100%;
  max-height: 100px;
  padding: 15px 0;
  background-color: #272757;
  color: #ebebeb;
}

header h1 span {
  color: #59b5f7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}

main {
  flex: 1;
  width: 90%;
  padding: 15px;
  min-height: 500px;
  max-height: 83vh;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-content: space-around;
  align-content: start;
  gap: 15px;
}

button {
  background-color: #272757;
  padding: 10px;
  color: #ebebeb;
  border-radius: 15px;
  border: 1px solid #2f2f2f;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #59b5f7;
  cursor: pointer;
  color: #2f2f2f;
  border-radius: 25px;
}

section {
  padding: 5px;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #f3f4fd;
}

section h2 {
  color: #0f0e47;
  border-radius: 15px;
  background-color: #8686ac91;
  padding: 10px;
}

#expense-form {
  grid-column: 1;
  grid-row: 1;
  max-height: 200px;
}

#expense-form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.input-row {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-column {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.input-column label {
  font-weight: 550;
  font-size: 1.2rem;
}

input {
  height: 30px;
  border: 1px solid #272757;
  border-radius: 8px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

input:hover {
  background-color: #efefef;
}

input:hover::placeholder {
  color: #272757;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-row {
  display: flex;
  height: 40px;
  justify-content: center;
  gap: 10px;
}

.button-row button {
  height: 45x;
  font-size: 1rem;
}

.ul-holder {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

ul,
li {
  list-style-type: none;
}

#expense-list {
  grid-column: 2;
  grid-row: 1 / 3;
  height: 100%;
}

#expense-list ul {
  position: relative;
}

.expense-item {
  border-radius: 15px;
  background-color: #ededff91;
  padding: 0 10px;
  height: 40px;
  display: grid;
  grid-template-columns: 24% 24% 24% 10% 10%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#expense-list span {
  display: flex;
  align-items: center;
}

.no-data {
  margin: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#expense-list button {
  height: 30px;
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 10px;
}

#expense-summary {
  grid-column: 1;
  grid-row: 2;
  max-height: 100%;
}

footer {
  margin-top: auto;
  display: flex;
  height: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

footer span {
  font-weight: bold;
}

.update-entry {
  z-index: 1;
  display: flex;
  top: 2%;
  right: 2%;
  background-color: #f3f4fd;
  border-radius: 10px;
  width: 50%;
  padding: 15px;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 0px 10px 5px rgba(98, 127, 137, 0.508);
}

.update-entry .button-row {
  margin-top: 20px;
}

.update-entry h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #0f0e47;
  border-radius: 15px;
  background-color: #8686ac91;
  padding: 10px;
}

.update-entry button {
  width: 75px;
}

.per-category {
  border-radius: 15px;
  background-color: #ededff91;
  padding: 0 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header-row {
  border-radius: 15px;
  background-color: #ededff91;
  padding: 0 10px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

#summary,
#log {
  overflow: auto;
}

#summary {
  max-height: 200px;
}

#log {
  max-height: 440px;
}

.log {
  display: grid;
  grid-template-columns: 24% 24% 24% 22%;
}

.summary {
  display: flex;
  padding: 0 20px;
}

.header-row span {
  font-size: 1.15rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.total {
  font-size: 1.1rem;
  font-weight: 600;
}

.hidden {
  display: none;
}
