<section id="user-profile">
  <h2>User Name</h2>

  <div id="user-stats">
    <p><strong>Logs:</strong> 2</p>
    <p><strong>Monthly Income:</strong> ₱23,000</p>
    <p><strong>Monthly Expense:</strong> ₱21,998</p>
    <p><strong>Budgetarian Status:</strong> Good</p>
  </div>
</section>

<section id="log-tools">
  <h3>Log Tools</h3>
  <div>
    <label for="search-log">Search a Log</label>
    <input type="search" id="search-log" placeholder="Search by name..." />
  </div>
  <div>
    <button>Create New Log</button>
    <button>Manage Logs</button>
  </div>
</section>
<section id="logs">
  <h2>Your Logs</h2>

  <div class="log-container">
    <h3>Log Name 1</h3>
    <div class="log-stats">
      <p>21 Categories</p>
      <p>Last edited: 2 days ago</p>
    </div>
    <div class="log-actions">
      <p>Log Options:</p>
      <button>Rename</button>
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>

  <div class="log-container">
    <h3>Log Name 2</h3>
    <div class="log-stats">
      <p>5 Categories</p>
      <p>Last edited: a month ago</p>
    </div>
    <div class="log-actions">
      <p>Log Options:</p>
      <button>Rename</button>
      <button>Edit</button>
      <button>Delete</button>
    </div>
  </div>
</section>
