<h1>Signin Page</h1>
<p>Hello, this is the signin page.</p>

<form id="siginForm">
  <div id="signin" class="section-title"><h3>Sign In</h3></div>
  <div>
    <div>
      <div class="input-column">
        <label for="email">Email</label>
        <input
          id="userEmail"
          type="email"
          name="email"
          autocomplete="off"
          required
        />
      </div>
      <div class="input-column">
        <label for="password">Password</label>
        <input
          id="userPassword"
          type="password"
          name="password"
          autocomplete="off"
          required
        />
      </div>
    </div>
    <div class="">
      <button type="submit">Sign In</button>
    </div>
    <div class="">
      <p>New user?</p>
      <a href="/register" data-navigate>Sigin Up Instead</a>
    </div>
  </div>
</form>
