@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --graph-bg: #f0f0f0;
}

.dark {
  --graph-bg: #1f1f1f;
}

*:not([data-motion]) {
  @apply transition-all duration-300;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  font-family: var(--font-outfit);
}

button {
  @apply focus:outline-none cursor-pointer active:scale-95;
}

button > * {
  @apply pointer-events-none;
}

.header {
  @apply py-3 z-25
  bg-[#FFE779] text-amber-950
  dark:bg-[#2b2d2f] dark:text-[#FFFDD0]
  rounded-b-lg w-full px-2 md:px-10;
}

.header-container {
  @apply mx-auto
  min-h-10 md:min-h-14
  container
  flex items-center justify-between;
}

.header-h1 {
  @apply text-lg md:text-2xl font-semibold;
}

.header-button {
  @apply hidden md:block border-transparent
  ease-in underline-offset-8 decoration-amber-600 
  dark:decoration-[#fff2b9] hover:decoration-[1.5px]
  hover:translate-y-[-1px] active:scale-90;
}

.hamburger {
  @apply rounded cursor-pointer text-[1.75rem] lg:text-[2rem]
    active:scale-95 flex items-center justify-center
    h-10 w-10 md:hidden
   hover:bg-slate-300/40 hover:shadow-md 
    hover:border-transparent hover:translate-y-[-2px];
}

.profile {
  @apply hidden 
    md:flex md:gap-1;
}

.login {
  @apply flex gap-2.5;
}

.login-button {
  @apply border-2 rounded
  px-4 border-slate-900
  dark:border-[#8b8b8b] dark:text-[#f0f0f0]
  dark:hover:shadow-gray-800
  dark:hover:bg-[#FFE779]
  dark:hover:text-gray-800
  md:px-4 md:py-1 md:min-w-[6rem]
  min-h-10 min-w-10
  md:min-h-0
  text-center ease-in hover:border-transparent hover:shadow hover:shadow-slate-900;
}

.nav-bar {
  @apply bg-gray-50 right-[0.25rem] md:right-2 top-[calc(100%+0.05rem)] md:top-[80%]
  dark:bg-[#4a4e53] dark:shadow-slate-800
  absolute shadow shadow-slate-400 rounded 
  p-1 min-w-[8ch] z-10 text-base lg:text-lg;
}

.nav-bar ul > li > * {
  @apply px-2 flex justify-start 
    min-h-8 text-sm md:text-base
    hover:translate-y-[-2px]
    items-center gap-1 rounded cursor-pointer 
    shadow shadow-transparent
    bg-white w-[8.75rem] md:w-[8.5rem]
    dark:bg-gray-800
   hover:shadow-slate-300
   dark:hover:shadow-slate-800;
}

.nav-bar ul .sm-button {
  @apply md:hidden;
}

.nav-active {
  @apply underline rounded decoration-amber-500 dark:decoration-amber-200 decoration-2 
  rounded-b-none hover:no-underline hover:text-black dark:hover:text-amber-200 text-amber-500
  dark:text-amber-200;
}

h3 {
  @apply dark:text-[#eeeeee];
}

.icon {
  @apply text-2xl cursor-pointer hover:text-amber-100 hover:shadow hover:border-white active:scale-90;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --breakpoint-bsm: 500px;
}

.hero {
  @apply flex flex-col
  lg:grid [grid-template-rows:repeat(2,min-content)] 
  grid-cols-2 grid-flow-col
  gap-5 md:gap-2 
  md:min-h-[60vh]
  lg:min-h-[30rem];
}

.hero-button {
  @apply border-2 h-8 lg:h-10 flex justify-center items-center rounded py-1 text-center 
  min-w-[6rem] lg:min-w-[10rem]
  hover:bg-amber-300 hover:shadow hover:border-transparent
  dark:hover:bg-[#FFE779]
  dark:hover:text-gray-800
  text-sm md:text-base lg:text-lg;
}

.homecard-title {
  @apply px-1 md:px-2 lg:px-4 text-lg md:text-xl lg:text-2xl font-semibold mb-4 underline;
}

.item {
  @apply text-sm lg:text-base relative 
  flex flex-col gap-2 justify-center 
  h-50 md:h-55 lg:h-60
  p-2 pl-[5rem] bsm:pl-[3rem]
  lg:p-5 lg:pl-[5rem] rounded shadow 
  shadow-slate-800 dark:bg-[#2f2f2f] dark:shadow-slate-950 dark:shadow-xs;
}

.item p {
  @apply max-w-[30ch] lg:max-w-none;
}

.item-title {
  @apply text-base md:text-lg lg:text-xl font-semibold self-center;
}

.form-body {
  @apply flex flex-col gap-2 p-5 md:py-10  md:pl-10 shadow-lg rounded-r;
}

.form-button {
  @apply mt-3 border-2 h-10 rounded min-w-[22] px-4 font-semibold bg-amber-400
  hover:bg-amber-300 hover:border-transparent hover:shadow shadow-slate-800
  dark:border-transparent dark:bg-[#ffe368] dark:text-[#282828]
 dark:active:bg-gray-950 dark:hover:bg-indigo-950 dark:hover:text-white;
}

.form-input-container {
  @apply flex flex-col max-w-[25rem] mb-2;
}

.form-input {
  @apply bg-white dark:rounded h-8 px-2 border-2 w-full
  focus:outline-none
  dark:border-gray-500
  dark:bg-[#3a3a3a] dark:hover:bg-[#3a3a3a]
  dark:text-[#f0f0f0];
}

.tool-button {
  @apply flex justify-center items-center text-2xl border-2 p-1 h-8 w-8 rounded 
  hover:bg-amber-400 hover:shadow-slate-800 hover:border-transparent hover:text-white;
}

.log-section-container {
  @apply shadow rounded bg-white dark:bg-[#1f1f1f];
}

.log-form-container {
  @apply shadow rounded max-h-[min-content] bg-white 
  dark:bg-[#252525]
  dark:shadow-sm dark:shadow-slate-950 
  dark:border dark:border-[#282828];
}

.log-section-header {
  @apply rounded bg-gray-100 p-2 pl-4 text-base 
           dark:bg-[#2f2f2f]  dark:text-[#f0f0f0]
           dark:shadow-none
            md:text-lg font-semibold
            shadow shadow-slate-300
            flex flex-row justify-between items-center gap-2 
            min-h-[min-content];
}

.log-input-column {
  @apply flex flex-col min-h-8 gap-1
  w-full
  md:w-auto;
}

.log-input-column label {
  @apply text-sm md:text-base text-gray-800 dark:text-[#f0f0f0];
}

.log-input-column input,
.log-input-column .custom-select {
  @apply p-1 focus:outline-none 
  min-h-8 border-2 border-gray-200
  dark:border-[#3f3f3f]
  dark:bg-[#3a3a3a] dark:hover:bg-[#3a3a3a]
  dark:text-[#f0f0f0]
  w-full
  md:w-55
  rounded h-full;
}

.category-input-column {
  @apply flex flex-col 
  min-h-8 gap-1;
}

.category-input-column label,
.category-input-column p {
  @apply text-sm md:text-base text-gray-800 dark:text-[#f0f0f0];
}

.category-input-column input:not([type="radio"]),
.category-input-column .radio,
.category-input-column .custom-select {
  @apply p-1 focus:outline-none 
  md:min-h-10 md:text-base text-sm
  md:min-w-45 border-gray-200 border-2
  rounded h-full
  dark:border-gray-500
  dark:bg-[#3a3a3a] dark:hover:bg-[#3a3a3a]
  dark:text-[#f0f0f0];
}

.category-input-column input[type="radio"] {
  @apply hidden;
}

.radio-input {
  @apply flex items-center gap-1 px-1 md:text-base text-sm;
}

.radio-input input[type="radio"]:checked + .custom-radio > div {
  @apply bg-amber-500 h-2 w-2 rounded-full;
}

.custom-radio {
  @apply min-h-[0.9rem] min-w-[0.9rem] border 
  border-gray-800
  dark:border-[#f0f0f0]
   relative flex items-center justify-center rounded-lg;
}

.color-menu {
  @apply min-w-full max-w-[16rem] overflow-auto flex items-center p-1 gap-1 md:max-w-[min-content]
  dark:border-gray-500 border-2 rounded
  dark:bg-[#3a3a3a] dark:hover:bg-[#3a3a3a]
  dark:text-[#f0f0f0];
}

.color-menu > li > button,
.color-button {
  @apply min-h-6 min-w-6 md:min-h-7 md:min-w-7
  rounded hover:translate-y-[-2px] p-0
  flex items-center justify-center;
}

.color-button-2 {
  @apply min-h-7 min-w-7 md:min-h-10 md:min-w-10
  rounded hover:translate-y-[-2px] p-0
  flex items-center justify-center;
}

.category-options {
  @apply p-4 space-y-2;
}

.category-options > li > button {
  @apply bg-gray-200 p-2 w-full rounded 
  flex gap-1 items-center text-xl justify-center
  hover:shadow hover:shadow-slate-300
  dark:hover:shadow-slate-800
  dark:bg-gray-800 dark:active:bg-gray-950 dark:hover:bg-indigo-950 dark:hover:text-white
  hover:translate-y-[-2px];
}

.category-options > li > button > span {
  @apply text-sm md:text-base;
}

.category-menu {
  @apply absolute right-0 top-9 rounded p-1 bg-slate-100
    shadow shadow-slate-400 w-full flex flex-col gap-1 z-10
    max-h-[10rem] overflow-auto dark:bg-[#282828] dark:shadow-slate-800
    dark:border dark:border-[#3e3e3e];
}

.button-row {
  @apply flex px-2 justify-end gap-2;
}

.button-row button {
  @apply bg-blue-700 shadow border-2 border-white text-white  p-1 rounded min-w-[6rem] md:min-w-[8.25rem]
   hover:shadow-slate-800 hover:border-transparent hover:shadow;
}

.log-button {
  @apply rounded cursor-pointer text-[1.75rem] lg:text-[2rem]
    active:scale-95 flex items-center justify-center
    min-h-12 min-w-12
   hover:bg-slate-300/40 hover:shadow-md 
    hover:border-transparent hover:translate-y-[-2px];
}

.log-button-2 {
  @apply p-1 z-5 px-2 items-center justify-center rounded cursor-pointer gap-1 bg-blue-600 
    text-base text-white 
    dark:bg-[#141c39] dark:active:bg-gray-950 dark:hover:bg-slate-950 dark:hover:text-white
    active:scale-95 active:bg-blue-800 active:text-white
  hover:bg-indigo-400 hover:shadow-md hover:text-gray-700 hover:border-transparent hover:translate-y-[-2px];
}

.log-button-3 {
  @apply items-center justify-center rounded-[15rem] cursor-pointer bg-blue-600 
    text-4xl text-white sticky
    ml-auto bottom-5 shadow w-16 h-16 flex
    active:scale-95 active:bg-blue-800 active:text-white
    dark:bg-[#141c39] dark:active:bg-gray-950 dark:hover:bg-slate-950 dark:hover:text-white
  hover:bg-indigo-400 hover:shadow-md hover:text-gray-700 hover:border-transparent hover:translate-y-[-2px];
}

.log-tool-button {
  @apply p-1 flex items-center justify-center rounded cursor-pointer text-xl
    active:scale-95 dark:text-[#e7e7e7]
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px];
}

.dashboard-button {
  @apply p-1 flex items-center justify-center rounded cursor-pointer text-xl
    h-6 w-6
    active:scale-95 dark:text-[#e7e7e7]
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px]
  bg-gray-200 dark:bg-[#222222] dark:active:bg-gray-800
  dark:hover:bg-gray-900 dark:hover:text-white;
}

.log-tool-button-2 {
  @apply p-1 flex items-center justify-center rounded cursor-pointer text-xl
    active:scale-95 dark:text-[#e7e7e7]
    h-10 w-10 bg-slate-200
    dark:bg-[#4a4e53] dark:active:bg-gray-950 dark:hover:bg-gray-500 dark:hover:text-white
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px];
}

.entry-tool-button {
  @apply p-2 flex items-center justify-center rounded cursor-pointer text-xl
    active:scale-95 dark:text-[#f0f0f0]
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px];
}

.log-options {
  @apply w-full px-1 flex justify-start 
    min-h-8
    hover:translate-y-[-2px]
    items-center gap-1 rounded cursor-pointer 
    shadow shadow-transparent
    text-xl
   hover:shadow-slate-300
   dark:hover:shadow-slate-800;
}

.log-options-2 {
  @apply w-full px-1 flex justify-start 
    min-h-6 md:min-h-8
    hover:translate-y-[-2px]
    items-center gap-1 rounded cursor-pointer 
    shadow shadow-transparent
    text-sm md:text-base
   hover:shadow-slate-300
    dark:hover:shadow-slate-800
    dark:text-[#565656];
}

.log-options-3 {
  @apply w-full px-1 flex justify-start 
    min-h-6 md:min-h-8
    hover:translate-y-[-2px]
    items-center gap-1 rounded cursor-pointer 
    shadow shadow-transparent
    text-sm md:text-base
    hover:shadow-slate-300
    dark:hover:shadow-slate-800
    bg-white 
    dark:text-[#f0f0f0]
    dark:bg-[#4a4e53] dark:active:bg-gray-950 
    dark:hover:bg-gray-500 dark:hover:text-white;
}

.log-options > span {
  @apply text-sm;
}

.log-options-button {
  @apply p-1 flex items-center justify-center rounded cursor-pointer bg-blue-200
    active:scale-95
    hover:shadow-md hover:translate-y-[-2px];
}

.log-type-button {
  @apply p-2 md:p-4 flex md:flex-col justify-between shadow shadow-slate-300 w-full
  min-h-20 md:min-h-0 rounded
  hover:*:border-slate-800
  dark:bg-[#3a3a3a]
  dark:hover:bg-[#3a3a3a]
  dark:shadow-slate-800
  hover:shadow-lg
  hover:mt-2 md:hover:mt-0
  hover:translate-y-[-8px]
hover:bg-blue-100;
}

.log-type-button > h4 {
  @apply text-base md:text-lg flex md:flex-1 text-left md:justify-center md:items-center my-auto md:mx-auto 
  md:pb-2 min-h-[2rem] h-[min-content]
  md:max-w-none;
}

.log-type-button > div {
  @apply w-full border-slate-400 border-b-2 md:block hidden;
}

.log-type-button > span {
  @apply text-xs md:text-sm my-auto max-w-[55%] text-right md:text-center md:max-w-[20ch] md:mx-auto md:pt-2;
}

menu li {
  @apply w-full;
}

.entry-button {
  @apply bg-blue-700 shadow mt-1 text-white p-1 rounded 
  w-full self-end
  dark:bg-gray-800 dark:active:bg-gray-950 dark:hover:bg-indigo-950 dark:hover:text-white
  text-xs md:text-sm max-w-[6rem] md:max-w-[8rem]
   hover:shadow-slate-800 hover:border-transparent hover:shadow;
}

.clear-button {
  @apply absolute top-4 right-4 text-blue-400 md:text-sm text-xs;
}

.modal-clear-button {
  @apply absolute top-0 right-0 text-blue-400 md:text-sm text-xs;
}

.error-message {
  @apply text-left my-2 mr-5 text-red-500 dark:text-red-400 md:text-sm text-xs;
}

.color-picker .react-colorful {
  @apply w-full bg-gray-50 dark:bg-[#4a4e53] dark:shadow-slate-800 shadow shadow-slate-400 p-2 rounded space-y-2;
}

.color-picker .react-colorful__hue,
.color-picker .react-colorful__saturation {
  @apply rounded;
}

.color-picker .react-colorful__hue {
  @apply h-6;
}

.color-picker .react-colorful__hue-pointer,
.color-picker .react-colorful__saturation-pointer {
  @apply rounded border;
}

.color-picker .react-colorful__saturation-pointer,
.color-picker .react-colorful__hue-pointer {
  @apply w-4 h-4;
}

.edit-entry-form .input-row {
  @apply flex justify-between items-center gap-2 w-full text-lg;
}

.edit-entry-form .input-row input,
.edit-entry-form .input-row .custom-select {
  @apply flex flex-col justify-center h-8 px-2 p-1 rounded border-[2px] w-[12rem] lg:w-[14rem] bg-white text-base;
}

.modal-form {
  @apply flex flex-col gap-2 mx-auto min-w-72;
}

.modal-container {
  @apply p-4;
}

.modal-input-container {
  @apply lg:min-w-[25vw] min-w-[60vw] space-y-2 dark:text-[#fefefe];
}

.modal-input-container > label,
.modal-input-container > p {
  @apply text-sm md:text-base;
}

.modal-input-container > input {
  @apply border-2 rounded block min-w-full border-gray-200 dark:border-gray-500 px-2 p-1 text-sm md:text-base
  focus:outline-none dark:bg-[#3a3a3a] dark:hover:bg-[#3a3a3a];
}

.modal-button {
  @apply p-1 flex items-center justify-center rounded cursor-pointer text-2xl
  bg-slate-200 dark:bg-gray-800
  text-amber-600
    active:scale-95
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px];
}

.modal-action-button {
  @apply shadow rounded w-18 py-2 self-end
    text-sm md:text-base
    active:scale-95
   active:bg-amber-700
   bg-amber-300
   hover:bg-amber-400
    dark:bg-gray-800 dark:active:bg-gray-950 dark:hover:bg-indigo-950 dark:hover:text-white
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px];
}

.modal-clean-button {
  @apply shadow rounded w-18 py-2 self-end
    text-sm md:text-base
    active:scale-95
   active:bg-gray-400
   bg-gray-200
   hover:bg-gray-300
    dark:bg-gray-800 dark:active:bg-gray-950 dark:hover:bg-indigo-950 dark:hover:text-white
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px];
}

.modal-delete-button {
  @apply shadow rounded w-18 py-2 self-end
    active:scale-95
    text-sm md:text-base
   active:bg-red-800
   bg-red-500
   hover:bg-red-700
   
   text-white
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px];
}

@layer utilities {
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .disappear {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
