@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import "tailwindcss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  font-family: var(--font-outfit);
}

button {
  @apply focus:outline-none cursor-pointer active:scale-95;
}

button > * {
  @apply pointer-events-none;
}

.header {
  @apply py-3 z-25
  bg-amber-400 text-[#040F0F]
  rounded-b-lg w-full;
}

.header-container {
  @apply mx-auto px-4
  min-h-10 md:min-h-14
  container
  flex items-center justify-between md:px-10;
}

.header-h1 {
  @apply text-lg md:text-2xl font-semibold;
}

.header-button {
  @apply hidden md:block transition-all border-transparent
  duration-200 ease-in underline-offset-8 decoration-amber-600 hover:decoration-[1.5px]
  hover:translate-y-[-1px] active:scale-90;
}

.hamburger {
  @apply border-2 rounded py-1 px-2 flex justify-center md:hidden
  transition-all duration-300 ease-in 
   hover:border-transparent hover:shadow hover:shadow-slate-900;
}

.profile {
  @apply hidden 
    md:flex md:gap-1;
}

.login {
  @apply flex gap-2.5;
}

.login-button {
  @apply border-slate-900 border-2 rounded py-1 px-2 md:px-4 md:py-1 md:min-w-[6rem]
  text-center
  transition-all duration-300 ease-in 
   hover:border-transparent hover:shadow hover:shadow-slate-900;
}

/* .nav-bar {
  @apply bg-white mt-2 right-0
  absolute shadow border-2 rounded 
  p-2 min-w-[8ch] z-10 text-base lg:text-lg;
} */

.nav-bar {
  @apply bg-gray-50 md:bg-white right-0 h-full min-w-[60vw] md:min-w-[8ch]
  absolute shadow rounded md:border-2 shadow-slate-400 md:shadow-gray-300
  p-2 z-10 text-base lg:text-lg md:h-[min-content];
}

.nav-bar ul > li > * {
  @apply p-2 md:px-1 md:p-0 cursor-pointer text-lg rounded md:shadow-none bg-white
  flex justify-between md:justify-end items-center
  hover:bg-slate-400/50 transition-all duration-200 active:scale-95 active:translate-y-[-2px] w-full shadow;
}

.nav-bar ul .sm-button {
  @apply md:hidden;
}

.nav-active {
  @apply underline rounded decoration-amber-500 decoration-2 rounded-b-none hover:no-underline hover:text-black text-amber-500;
}

.icon {
  @apply text-2xl cursor-pointer hover:text-amber-100 hover:shadow hover:border-white transition-all duration-300 active:scale-90;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
}

.hero {
  @apply flex flex-col
  lg:grid [grid-template-rows:repeat(2,min-content)] grid-cols-2 grid-flow-col
  gap-5 md:gap-2 
  md:min-h-[60vh];
}

.hero-button {
  @apply border-2 h-10 text-lg flex justify-center items-center rounded py-1 text-center min-w-[6rem] sm:min-w-[8rem] hover:bg-amber-300 hover:shadow hover:border-transparent transition-all duration-300;
}

.homecard-title {
  @apply px-4 text-2xl font-semibold mb-4 underline;
}

.item {
  @apply relative flex flex-col gap-2 justify-center h-50 md:h-75 p-5 pl-[5rem] rounded shadow shadow-slate-800;
}

.item-title {
  @apply text-xl font-semibold self-center;
}

.form-body {
  @apply flex flex-col gap-2 p-5 md:py-10  md:pl-10 shadow-lg rounded-r;
}

.form-button {
  @apply mt-3 border-2 h-10 rounded min-w-[22] px-4 font-semibold bg-amber-400 transition-all duration-300 
  hover:bg-amber-300 hover:border-transparent hover:shadow shadow-slate-800;
}

.form-input-container {
  @apply flex flex-col max-w-[25rem] mb-2;
}

.form-input {
  @apply bg-white rounded h-8 px-2 border-2 w-full;
}

.tool-button {
  @apply flex justify-center items-center text-2xl border-2 p-1 h-8 w-8 rounded transition-all duration-300 
  hover:bg-amber-400 hover:shadow-slate-800 hover:border-transparent hover:text-white;
}

.log-section-container {
  @apply shadow rounded bg-white;
}

.log-form-container {
  @apply shadow rounded max-h-[min-content] bg-white;
}

.log-section-header {
  @apply rounded bg-gray-100 p-2 pl-4 text-lg font-semibold
            shadow shadow-slate-300
            flex flex-row justify-between items-center gap-2 
            min-h-[min-content];
}

.input-row {
  @apply p-2 mx-auto;
}

.log-input-column {
  @apply flex flex-col min-h-8 gap-1
  w-full
  md:w-auto;
}

.log-input-column label {
  @apply text-sm text-gray-800;
}

.log-input-column input,
.log-input-column .custom-select {
  @apply px-1 focus:outline-none 
  min-h-8
  md:min-w-50
  rounded h-full;
}

.button-row {
  @apply flex px-2 justify-end gap-2;
}

.button-row button {
  @apply bg-blue-700 shadow border-2 border-white text-white  p-1 rounded transition-all duration-300 min-w-[6rem] md:min-w-[8.25rem]
   hover:shadow-slate-800 hover:border-transparent hover:shadow;
}

.log-button {
  @apply rounded cursor-pointer text-[1.75rem] lg:text-[2rem]
    active:scale-95 flex items-center justify-center
    min-h-12 min-w-12
   hover:bg-slate-300/40 hover:shadow-md 
    hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

.log-button-2 {
  @apply p-1 min-h-10 z-5 px-2 items-center justify-center rounded cursor-pointer gap-1 h-full bg-blue-600 
    text-base text-white
    active:scale-95 active:bg-blue-800 active:text-white
  hover:bg-indigo-400 hover:shadow-md hover:text-gray-700 hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

.log-button-3 {
  @apply items-center justify-center rounded-[15rem] cursor-pointer bg-blue-600 
    text-4xl text-white sticky
    ml-auto bottom-4 shadow w-16 h-16 flex
    active:scale-95 active:bg-blue-800 active:text-white
  hover:bg-indigo-400 hover:shadow-md hover:text-gray-700 hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

.log-tool-button {
  @apply p-1 flex items-center justify-center rounded cursor-pointer text-xl
    active:scale-95
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

.entry-tool-button {
  @apply p-2 flex items-center justify-center rounded cursor-pointer text-xl
    active:scale-95
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

.log-options {
  @apply w-full px-1 flex justify-start 
    min-h-8
    hover:translate-y-[-2px]
    items-center gap-1 rounded cursor-pointer 
    shadow shadow-transparent
    text-xl
   hover:shadow-slate-300;
}

.log-options > span {
  @apply text-sm;
}

.log-options-button {
  @apply p-1 flex items-center justify-center rounded cursor-pointer bg-blue-200
    active:scale-95
    hover:shadow-md hover:translate-y-[-2px]
    transition-all duration-300;
}

.log-type-button {
  @apply p-2 md:p-4 flex md:flex-col justify-between shadow shadow-slate-300 w-full
  min-h-20 md:min-h-0 rounded
  transition-all duration-200 
  hover:*:border-slate-800
  hover:shadow-lg
  hover:mt-2 md:hover:mt-0
  hover:translate-y-[-8px]
hover:bg-blue-100;
}

.log-type-button > h4 {
  @apply text-base md:text-lg flex md:flex-1 text-left md:justify-center md:items-center my-auto md:mx-auto 
  md:pb-2 min-h-[2rem] h-[min-content]
  md:max-w-none;
}

.log-type-button > div {
  @apply w-full border-slate-400 border-b-2 md:block hidden;
}

.log-type-button > span {
  @apply text-xs md:text-sm my-auto max-w-[55%] text-right md:text-center md:max-w-[20ch] md:mx-auto md:pt-2;
}

menu li {
  @apply w-full;
}

.entry-button {
  @apply bg-blue-700 shadow text-sm text-white p-1 rounded 
  transition-all duration-300 w-full
   hover:shadow-slate-800 hover:border-transparent hover:shadow;
}

.color-picker .react-colorful {
  @apply w-full bg-white p-4 rounded border-2;
}

.color-picker .react-colorful__hue,
.color-picker .react-colorful__saturation {
  @apply rounded p-2 border-slate-400 border my-1;
}

.color-picker .react-colorful__hue {
  @apply h-2;
}

.color-picker .react-colorful__hue-pointer,
.color-picker .react-colorful__saturation-pointer {
  @apply rounded border;
}

.color-picker .react-colorful__saturation-pointer,
.color-picker .react-colorful__hue-pointer {
  @apply w-4 h-4;
}

.edit-entry-form .input-row {
  @apply flex justify-between items-center gap-2 w-full text-lg;
}

.edit-entry-form .input-row input,
.edit-entry-form .input-row .custom-select {
  @apply flex flex-col justify-center h-8 px-2 p-1 rounded border-[2px] w-[12rem] lg:w-[14rem] bg-white text-base;
}

.modal-input-container {
  @apply lg:min-w-[25vw] min-w-[60vw];
}

.modal-input-container > input {
  @apply border-2 rounded block min-w-full border-gray-800 px-2 p-1 text-sm md:text-base;
}

.modal-button {
  @apply p-1 flex items-center justify-center rounded cursor-pointer text-2xl
  bg-slate-200
  text-amber-600
    active:scale-95
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

.modal-action-button {
  @apply mt-2 shadow rounded w-18 py-2 self-end
    text-sm md:text-base
    active:scale-95
   active:bg-amber-700
   bg-amber-300
   hover:bg-amber-400
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

.modal-delete-button {
  @apply mt-2 shadow rounded w-18 py-2 self-end
    active:scale-95
    text-sm md:text-base
   active:bg-red-800
   bg-red-500
   hover:bg-red-700
   text-white
    hover:shadow-md hover:border-transparent hover:translate-y-[-2px]
    transition-all duration-300;
}

@layer utilities {
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .disappear {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
